<p>coming soon</p>
<!--<div>-->
<!--    <h3>District Wise Distribution</h3>-->
<!--    <canvas baseChart-->
<!--            [chartType]="districtChartType"-->
<!--            [data]="{ labels: districtChartLabels, datasets: [{ data: districtChartData }] }"-->
<!--            [options]="districtChartOptions">-->
<!--    </canvas>-->
<!--</div>-->

<!--<div>-->
<!--    <h3>Class Wise Distribution</h3>-->
<!--    <canvas baseChart-->
<!--            [chartType]="classChartType"-->
<!--            [data]="{ labels: classChartLabels, datasets: [{ data: classChartData }] }"-->
<!--            [options]="classChartOptions">-->
<!--    </canvas>-->
<!--</div>-->

<!--<div>-->
<!--    <h3>Subject Wise Distribution</h3>-->
<!--    <canvas baseChart-->
<!--            [chartType]="subjectChartType"-->
<!--            [data]="{ labels: subjectChartLabels, datasets: [{ data: subjectChartData }] }"-->
<!--            [options]="subjectChartOptions">-->
<!--    </canvas>-->
<!--</div>-->
