<div class="container">
  <h2>TRE 3 District Allocation</h2>
<!--  <p>Total Visitors: {{ visitorCount }}</p>-->

  <div class="filters">
    <select [(ngModel)]="selectedClass" (change)="filterItems()">
      <option value="all">All Classes</option>
      <option *ngFor="let cls of classes" [value]="cls">{{ cls }}</option>
    </select>

    <select [(ngModel)]="selectedSubject" (change)="filterItems()">
      <option value="all">All Subjects</option>
      <option *ngFor="let subject of subjects" [value]="subject">{{ subject }}</option>
    </select>

    <select [(ngModel)]="selectedDistrict" (change)="filterItems()">
      <option value="all">All Districts</option>
      <option *ngFor="let district of districts" [value]="district">{{ district }}</option>
    </select>
  </div>

  <input
    type="text"
    placeholder="Search items..."
    [(ngModel)]="searchTerm"
    (input)="filterItems()"
    class="search-box"
  />

  <div>
    Found {{filteredItems.length}} results
  </div>
  <table>
    <thead>
    <tr>
      <th>S.No</th>
      <th>Roll No</th>
      <th>District</th>
      <th>Class</th>
      <th>Subject</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of filteredItems;let i = index;">
      <td>{{ i+1 }}</td>
      <td>{{ item.rollNo }}</td>
      <td>{{ item.districtName }}</td>
      <td>{{ item.class }}</td>
      <td>{{ item.subject }}</td>
    </tr>
    </tbody>
  </table>
</div>
